body{
  margin:0px;
  background-color: hsl(30, 38%, 92%);
  width:100%;
  height:100vh;
}

main{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}

.container{
  background-color:hsl(0, 0%, 100%);
  display:flex;
  width:40%;
  justify-content:space-between;
  border-radius:10px;
}

.img-class{
  width:100%;
  height:100%;
  border-radius:10px 0px 0px 10px;
}

.perfume-container{
  width:70%;
  padding:30px;
}

p{
  font-family:"Montserrat", serif;
  color:hsl(228, 12%, 48%);
  font-size:14px;
}

h1{
  font-family: "Fraunces", serif;
}

.perfume-class{
  letter-spacing: 4px;
  margin-top:0px;
}

.content-class{
  line-height :1.7;
}

.price1{
  color:hsl(158, 36%, 37%);
}

.price2{
  text-decoration: line-through;
  margin-left:20px;
}

.pricing-items{
  display:flex;
  align-items:center;
}

.cart-button{
  background-color:hsl(158, 36%, 37%);
  border:none;
  color:white;
  padding:12px 67px;
  border-radius:8px;
  margin-bottom:0px;
  display:flex;
}

.icon-class{
  margin-right:10px;
}